// FONTS
// -----------------------------------------------
$text-font-stack: 'Poppins', sans-serif;
$heading-font-stack: 'Poppins', sans-serif;

// COLORS
// -----------------------------------------------
$button-background-color:#f33155;
$dark-gray-nav-bg:#2f323e;
$main-background-color:#edf1f5;
$approved:#7ace4c;
$rejected:#f33155;
$pending:#707cd2;
$side-nav-color:#56687c;
$base-color: rgb(255, 255, 255);

// SIZES
// -----------------------------------------------
$s-12: 12px;
$text-input: 20px;

// ACCESSIBILITY
// -----------------------------------------------

$base-url: '/build/assets/' !default;

